
body{

    background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%) no-repeat;
    font-family:'Space Mono';
    color: #fff;
   
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: right;
    max-width: 1197px;
    margin: 0 auto;
   
    
}





* {
    /* padding and border are included in the width and height/ */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




.container > div {
    padding: 20px;
}

.header {
    
   
    
    
    
}

.leftCol {
    
    
    
}



.rightCol {
   
    
}
   

.services {
   
        
    }



.footer {
   
    
  
}

@media screen and (min-width:360px) {
    .body {
        
        font-size: 1em; 
        /*https://webgradients.com/\*/	
        background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%) no-repeat;
    }
  
}


